# Using Python Libraries

## First Up: Numeric Python

![numpy](https://raw.githubusercontent.com/donnemartin/data-science-ipython-notebooks/master/images/numpy.png)

[NumPy](https://www.numpy.org/) is the fundamental package for scientific computing with Python. Many other data science packages, especially those that work with matrices, rely on it for its speed and utility.

For numpy, the standard alias is `np`.

In [1]:
# Import numpy

import numpy as np

### NumPy Arrays

Python lists and NumPy arrays can both hold numbers. However, Python lists have limited functionality for mathematical operations. NumPy arrays make it easy and fast to do math with a collection of numbers.

In [2]:
# Explore a numpy array
x = np.array([1, 2, 3])
print(x)
print(type(x))

[1 2 3]
<class 'numpy.ndarray'>

Let's make a list using base Python, and an array using Numpy, and see how they function differently:

In [8]:
# Create a list in base Python of 3 integers
numbers_list = [1, 2, 3]
# Create a numpy array containing the same 3 integers
numbers_array = np.array([1, 2, 3])

### Arithmetic Operations

Arithmetic operators (e.g. +, -, * and /) work according to mathematical principles for arrays, unlike with lists. These operations are done "element-wise".

In [9]:
# Multiply the array by 3
numbers_array * 3

array([3, 6, 9])

In [10]:
# Multiply the list by 3
numbers_list * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
# Add 20 to the array
numbers_array + 20

array([21, 22, 23])

In [12]:
# Add 20 to the list
numbers_list + 20

TypeError: can only concatenate list (not "int") to list

### Speed

Below, you will find a piece of code we will use to compare the speed of operations on lists vs arrays.

In [16]:
# Setting the size of our iterables
size_of_vec = 1000

# Creating two lists of that size
X = list(range(size_of_vec))
Y = list(range(size_of_vec))

In [17]:
# Timing how long it takes to add each element in the two lists
# Complicated bit of code using a list comprehension
%timeit [X[i] + Y[i] for i in range(size_of_vec)]

81.3 µs ± 817 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [18]:
# Now let's try with numpy arrays
X = np.array(range(size_of_vec))
Y = np.array(range(size_of_vec))

In [19]:
# Much simpler code, since it's easier to do element-wise math
%timeit X + Y

749 ns ± 4.92 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

## Next Up: Importing, Reading and Manipulating Data with ACTUAL LITERAL PANDAS

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - but Pandas is a great library to work with relational data. 

[Check out the documentation!](https://pandas.pydata.org/pandas-docs/stable/) (always a great idea)

Note that we didn't go into a lot of Numpy's functionality, but here's something cool - Pandas is built on top of Numpy! That means they work really well together, and that Pandas has some math functionality already built in.

If you'd like to read more about Numpy and Pandas, [here is an interesting blog post](https://cloudxlab.com/blog/numpy-pandas-introduction/) discussing them.

Let's dive into some data from the Austin Animal Shelter. 

Data source: [intakes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) and [outcomes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238).

Today we'll be working with the intakes data, which I've already downloaded and included in the repository.

In [20]:
# Import
import pandas as pd

Before reading in the data, we need to know what format the data is in and where exactly the data can be found, so we can tell Pandas what to do.

In [21]:
# Where is our data?

!ls data/

Austin_Animal_Center_Intakes_030921.csv
Austin_Animal_Center_Outcomes_030921.csv

In [25]:
# Read in the comma-separated-value (csv) document as df
df = pd.read_csv('data/Austin_Animal_Center_Intakes_030921.csv', parse_dates=['DateTime'])

df

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
124217,A830428,NaN,2021-03-09 12:07:00,03/09/2021 12:07:00 PM,501 Strichen Drive in Travis (TX),Wildlife,Sick,Other,Unknown,2 years,Skunk,Black/White
124218,A830411,NaN,2021-03-09 12:40:00,03/09/2021 12:40:00 PM,12609 Dessau Rd in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Dachshund/Rat Terrier,Brown/White
124219,A830250,*Hansel,2021-03-05 14:31:00,03/05/2021 02:31:00 PM,Cesar Chavez And North Lamar in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,German Shepherd,Brown/Black
124220,A830431,Chema,2021-03-09 12:04:00,03/09/2021 12:04:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Unknown,3 years,Beagle/Chihuahua Shorthair,Black/Brown
124221,A830251,*Gretel,2021-03-05 14:31:00,03/05/2021 02:31:00 PM,Cesar Chavez And North Lamar in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,German Shepherd,Brown/Black

What options do we have when we read in a csv? Let's look at the documentation!

[Convenient link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

I happen to know that there is a column in the data named 'DateTime' (run the below code to check it out before adjusting our read-in code!) - let's use an argument to read it in as a datetime object, then discuss.

In [26]:
df['DateTime']

0        2019-01-03 16:19:00
1        2015-07-05 12:59:00
2        2016-04-14 18:43:00
3        2013-10-21 07:59:00
4        2014-06-29 10:38:00
                 ...
124217   2021-03-09 12:07:00
124218   2021-03-09 12:40:00
124219   2021-03-05 14:31:00
124220   2021-03-09 12:04:00
124221   2021-03-05 14:31:00
Name: DateTime, Length: 124222, dtype: datetime64[ns]

### Initial Exploration of a Dataframe

Questions to ask yourself:

- How big is the data?
- Are there any empty cells? 
- What are the datatypes of the columns of data?

In [27]:
# What does this dataframe look like?
# Check out the first 5 rows

df.head(5)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [28]:
# Check out the shape of the df

df.shape

(124222, 12)

In [34]:
# And then the size

df.size

1490664

In [35]:
# And then look at some info on the df
df.info

<bound method DataFrame.info of        Animal ID     Name            DateTime               MonthYear  \
0        A786884   *Brock 2019-01-03 16:19:00  01/03/2019 04:19:00 PM
1        A706918    Belle 2015-07-05 12:59:00  07/05/2015 12:59:00 PM
2        A724273  Runster 2016-04-14 18:43:00  04/14/2016 06:43:00 PM
3        A665644      NaN 2013-10-21 07:59:00  10/21/2013 07:59:00 AM
4        A682524      Rio 2014-06-29 10:38:00  06/29/2014 10:38:00 AM
...          ...      ...                 ...                     ...
124217   A830428      NaN 2021-03-09 12:07:00  03/09/2021 12:07:00 PM
124218   A830411      NaN 2021-03-09 12:40:00  03/09/2021 12:40:00 PM
124219   A830250  *Hansel 2021-03-05 14:31:00  03/05/2021 02:31:00 PM
124220   A830431    Chema 2021-03-09 12:04:00  03/09/2021 12:04:00 PM
124221   A830251  *Gretel 2021-03-05 14:31:00  03/05/2021 02:31:00 PM

                                     Found Location      Intake Type  \
0               2501 Magin Meadow Dr in Austin (TX)            Stray
1                  9409 Bluegrass Dr in Austin (TX)            Stray
2                2818 Palomino Trail in Austin (TX)            Stray
3                                       Austin (TX)            Stray
4                     800 Grove Blvd in Austin (TX)            Stray
...                                             ...              ...
124217            501 Strichen Drive in Travis (TX)         Wildlife
124218               12609 Dessau Rd in Austin (TX)            Stray
124219  Cesar Chavez And North Lamar in Austin (TX)            Stray
124220                                  Austin (TX)  Owner Surrender
124221  Cesar Chavez And North Lamar in Austin (TX)            Stray

       Intake Condition Animal Type Sex upon Intake Age upon Intake  \
0                Normal         Dog   Neutered Male         2 years
1                Normal         Dog   Spayed Female         8 years
2                Normal         Dog     Intact Male       11 months
3                  Sick         Cat   Intact Female         4 weeks
4                Normal         Dog   Neutered Male         4 years
...                 ...         ...             ...             ...
124217             Sick       Other         Unknown         2 years
124218           Normal         Dog     Intact Male          1 year
124219           Normal         Dog     Intact Male         4 years
124220           Normal         Dog         Unknown         3 years
124221           Normal         Dog   Intact Female         2 years

                                        Breed        Color
0                                  Beagle Mix     Tricolor
1                    English Springer Spaniel  White/Liver
2                                 Basenji Mix  Sable/White
3                      Domestic Shorthair Mix       Calico
4       Doberman Pinsch/Australian Cattle Dog     Tan/Gray
...                                       ...          ...
124217                                  Skunk  Black/White
124218                  Dachshund/Rat Terrier  Brown/White
124219                        German Shepherd  Brown/Black
124220             Beagle/Chihuahua Shorthair  Black/Brown
124221                        German Shepherd  Brown/Black

[124222 rows x 12 columns]>

In [36]:
# Describe the columns
df.describe

<bound method NDFrame.describe of        Animal ID     Name            DateTime               MonthYear  \
0        A786884   *Brock 2019-01-03 16:19:00  01/03/2019 04:19:00 PM
1        A706918    Belle 2015-07-05 12:59:00  07/05/2015 12:59:00 PM
2        A724273  Runster 2016-04-14 18:43:00  04/14/2016 06:43:00 PM
3        A665644      NaN 2013-10-21 07:59:00  10/21/2013 07:59:00 AM
4        A682524      Rio 2014-06-29 10:38:00  06/29/2014 10:38:00 AM
...          ...      ...                 ...                     ...
124217   A830428      NaN 2021-03-09 12:07:00  03/09/2021 12:07:00 PM
124218   A830411      NaN 2021-03-09 12:40:00  03/09/2021 12:40:00 PM
124219   A830250  *Hansel 2021-03-05 14:31:00  03/05/2021 02:31:00 PM
124220   A830431    Chema 2021-03-09 12:04:00  03/09/2021 12:04:00 PM
124221   A830251  *Gretel 2021-03-05 14:31:00  03/05/2021 02:31:00 PM

                                     Found Location      Intake Type  \
0               2501 Magin Meadow Dr in Austin (TX)            Stray
1                  9409 Bluegrass Dr in Austin (TX)            Stray
2                2818 Palomino Trail in Austin (TX)            Stray
3                                       Austin (TX)            Stray
4                     800 Grove Blvd in Austin (TX)            Stray
...                                             ...              ...
124217            501 Strichen Drive in Travis (TX)         Wildlife
124218               12609 Dessau Rd in Austin (TX)            Stray
124219  Cesar Chavez And North Lamar in Austin (TX)            Stray
124220                                  Austin (TX)  Owner Surrender
124221  Cesar Chavez And North Lamar in Austin (TX)            Stray

       Intake Condition Animal Type Sex upon Intake Age upon Intake  \
0                Normal         Dog   Neutered Male         2 years
1                Normal         Dog   Spayed Female         8 years
2                Normal         Dog     Intact Male       11 months
3                  Sick         Cat   Intact Female         4 weeks
4                Normal         Dog   Neutered Male         4 years
...                 ...         ...             ...             ...
124217             Sick       Other         Unknown         2 years
124218           Normal         Dog     Intact Male          1 year
124219           Normal         Dog     Intact Male         4 years
124220           Normal         Dog         Unknown         3 years
124221           Normal         Dog   Intact Female         2 years

                                        Breed        Color
0                                  Beagle Mix     Tricolor
1                    English Springer Spaniel  White/Liver
2                                 Basenji Mix  Sable/White
3                      Domestic Shorthair Mix       Calico
4       Doberman Pinsch/Australian Cattle Dog     Tan/Gray
...                                       ...          ...
124217                                  Skunk  Black/White
124218                  Dachshund/Rat Terrier  Brown/White
124219                        German Shepherd  Brown/Black
124220             Beagle/Chihuahua Shorthair  Black/Brown
124221                        German Shepherd  Brown/Black

[124222 rows x 12 columns]>

**A note on `.describe()`:** this function behaves differently whether we feed in objects or numeric types. We'll explore this more later.

**And a question:** You see that some of the ways we dealt with our dataframe required `()` and some did not - why is that?

-

### Accessing Columns

Use brackets and the exact column name to access a particular column.

Can also use `.` notation, if the column name doesn't have spaces.

### Dealing with Datetime Objects

You can access parts of a datetime object using `.dt` - an attribute of the column, not a method!

In [ ]:
# Let's check out the intake year

In [ ]:
# How do we create a new column?
# Let's create a new column for intake year

In [ ]:
# Check our work

In [ ]:
# What datatype is the data in our new column?

### Checking for Null Values

Can use `.isna` or `.isnull` - same thing!

In [ ]:
# Check it - is the result what you expect?

In [ ]:
# How can you make that result more usable?

### Checking for Duplicate Rows

In [ ]:
# Function is called duplicated - check the documentation!

In [ ]:
# Can use same trick as above on duplicated to make the result more usable

### Dropping Columns or Rows

Several different methods depending on what we're doing - but the to discuss right now is `.drop`

In [ ]:
# Let's drop the MonthYear column, which is the same as our DateTime

In [ ]:
# Check our work here...

Why won't my changes save ???

Fun thing about pandas - time to discuss resetting variables, or using `inplace`

### Renaming Columns

[Documentation for `.rename`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [ ]:
# Let's remove spaces from the columns, and make all column names lowercase to be easier
# Can use a dictionary to rename

In [ ]:
# Check your work

In [ ]:
# Can also use a lambda function

### Slicing and Dicing

Perhaps your biggest tool for exploring around your dataframes will be `.loc` (and it's accompanying `.iloc`). This allows you to use conditionals to explore your data!

In [ ]:
# Example: look only at animals with intake type 'Stray'

In [ ]:
# Second example: animals where the animal type is not dog

In [ ]:
# And a third - animals found before 2018

## Let's Start to Answer Questions!

#### Question 1: What is the most common Animal Type?

In [ ]:
# Let's explore the Animal Type column to find out

In [ ]:
# Another way - look above at describe, or run another describe
# 'Top' for an object column means 'most common'

#### Question 2: What is the most common dog breed to come into the shelter?

In [ ]:
# Let's create a new df, dogs, for all dogs in the original data

In [ ]:
# Now it's easier to look at common dog breeds

#### Question 3: What percentage of animals have come into the shelter in a condition other than "Normal"?

In [ ]:
# Need to explore the proper column

In [ ]:
# Want to use pandas to calculate, not inputting number manually

In [ ]:
# Calculate percentage

In [ ]:
# Other way to calculate

## Now - Outtake Data!

Let's explore together if we have time! If not - extra credit!